@CHARSET "UTF-8";
body{background-color:#fff;}

.searchBox{
	padding:50px 30px 30px 10px;
}
.mainBox .title{
	line-height:40px;font-size:16px;font-size: 16px;text-indent: 1em; border-bottom: 1px solid #ccc;color: #5e6d82; margin:0px 0px 10px 0px;
}