.main{
    background: #f1f2f7;
    padding: 14px;
}

.breadcrumb{
    background: #fff;
    padding: 10px;
    border-radius:6px;
    margin-bottom: 20px;
}

.section{
    background: #fff;
    margin-bottom: 20px;
}

.section-title{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-indent: 1em;
    border-bottom: 1px solid #ccc;
    color: #5e6d82;
}
.section-main{
    padding: 14px;
}
.row-mb-14{
    margin-bottom: 14px;
}


.table-expand {
    font-size: 0;
  }
  .table-expand label {
    width: 120px;
      label-position:right;
    color: #99a9bf;
  }
  .table-expand .el-form-item {
    margin-right: 0px;
    margin-bottom:5px;
    width: 25%;
  }
  
.block-select{
    display: block;
    width: 100% !important;

}

.checkgroup{
    text-align: left;
}

.btns{
    text-align: right;
}
